@media (prefers-color-scheme: dark) {
  body,
  textarea,
  dialog,
  input,
  select {
    background-color: #1c1c1e;
    color: #fefefe;
  }
}

body {
  margin: 0px;
}

.lucide-settings {
  vertical-align: middle;
  margin-left: 0.5em;
  cursor: pointer;
}

.github_logo {
  color: #1c1c1e;
}

@media (prefers-color-scheme: dark) {
  .github_logo {
    color: #fefefe;
  }
}

.github_logo {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  width: 2em;
}
