@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1e;
    color: #fefefe;
  }

  textarea {
    background-color: #1c1c1e;
    color: #fefefe;
  }
}

body {
  margin: 0px;
}

.github_logo {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 2em;
}
