@media (prefers-color-scheme: dark) {

  body,
  textarea,
  dialog {
    background-color: #1c1c1e;
    color: #fefefe;
  }
}

body {
  margin: 0px;
}

.github_logo {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 2em;
}

.lucide-settings {
  vertical-align: middle;
  margin-left: 0.5em;
  cursor: pointer;
}
