textarea {
  overflow-x: auto;
}

.textareas {
  display: inline-flex;
  width: 100%;
}

div.textarea {
  padding: 0.5em;
}

@media screen and (max-width: 70em) {
  .textareas {
    flex-wrap: wrap;
  }

  div.textarea {
    width: 100%;
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
  }
}

@media screen and not (max-width: 70em) {
  .textareas {
    box-sizing: border-box;
    width: 100%;
    height:85vh;
  }

  div.textarea {
    width: 50vw;
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
    height:100%;
  }
}
