[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project.git
	ignore = dirty
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "pfr"]
	path = pfr
	url = https://github.com/boostorg/pfr.git
