[submodule "llvm"]
	path = cpp/third_party/llvm
	url = https://github.com/llvm/llvm-project.git
	ignore = dirty
[submodule "emsdk"]
	path = cpp/third_party/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "pfr"]
	path = cpp/third_party/pfr
	url = https://github.com/boostorg/pfr.git
[submodule "frozen"]
	path = cpp/third_party/frozen
	url = https://github.com/serge-sans-paille/frozen.git
[submodule "cpp/third_party/catch2"]
	path = cpp/third_party/catch2
	url = https://github.com/catchorg/Catch2
[submodule "cpp/third_party/magic_enum"]
	path = cpp/third_party/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "cpp/third_party/ghostpdl"]
	path = cpp/third_party/ghostpdl
	url = https://github.com/ArtifexSoftware/ghostpdl.git
