app-dialog-popup textarea {
  resize: vertical;
  width: 100%;
}

app-textarea-two h2 {
  margin: 0 0 0.5em 0;
  padding: 0em;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.textarea_field {
  height: auto;
}

details summary {
  cursor: pointer;
}
