<h1>PDF manipulation</h1>
<input accept="application/pdf" type="file" (change)="onSingleFileSelected($event)">
<button type="button" (click)="compress()">Compresser</button>
<button type="button" (click)="split()">Split</button>
<button type="button" (click)="pageCount()">Page count</button>
<p>{{this.status()}}</p>
<button type="button" [class]="downloadVisilibity()" (click)="download()">Télécharger</button>

@for (url of generatedPageUrls(); track $index) {
  @if (url) {
    <img [src]="url" alt="Page">
  } @else {
    <div class="loader">Loading page {{ $index + 1 }}...</div>
  }
}

<a href="https://github.com/bansan85/web-demangler">
    <app-github-mark-inline class="github_logo" />
</a>
