textarea {
  overflow-x: auto;
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

dialog textarea {
  resize: vertical;
}

.textareas {
  display: inline-flex;
  width: 100%;
}

div.textarea {
  margin: 0.5em;
}

h2 {
  margin: 0 0 0.5em 0;
  padding: 0em;
}

@media screen and (max-width: 70em) {
  .textareas {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .textarea {
    display: flex;
    flex-direction: column;
    height: 50%;
  }

  textarea {
    flex: 1;
  }
}

@media screen and not (max-width: 70em) {
  .textareas {
    display: flex;
    height: 100vh;
  }

  .textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  textarea {
    flex: 1;
  }
}

dialog::backdrop {
  background: rgb(0 0 0 / 25%);
}

.github_logo {
  color: #1c1c1e;
}

@media (prefers-color-scheme: dark) {
  dialog::backdrop {
    background: rgb(0 0 0 / 75%);
  }

  .github_logo {
    color: #fefefe;
  }
}

dialog {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

dialog.open {
  opacity: 1;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.textarea_field {
  height: auto;
}

@keyframes rotating {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: rotating 2s linear infinite;
}

.github_logo {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 2em;
}
