.apps-box {
  color: #1c1c1e;
}

@media (prefers-color-scheme: dark) {
  .apps-box {
    color: #fefefe;
  }
}

.github_logo {
  color: #1c1c1e;
}

@media (prefers-color-scheme: dark) {
  .github_logo {
    color: #fefefe;
  }
}

.github_logo {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 2em;
}
