<dialog #dialog [ngClass]="{ 'open': isOpen }">
  <dl>
    <dt>ColumnLimit</dt>
    <dd><input type="number" *ngIf="formatStyle" [(ngModel)]="formatStyle!.ColumnLimit"
        (ngModelChange)="onColumnLimitChange($event)" />
    </dd>
  </dl>
  <div>
    <button (click)="closeDialog()">OK</button>
  </div>
</dialog>

<div class="textareas">
  <div class="textarea">
    <h2>Mangled symbol (C++, D, Rust, MSVC, Itanium)</h2>
    <textarea #mangledInput wrap="off" placeholder="Enter mangled names (one per line)"
      (input)="onDemangle(mangledInput.value)"></textarea>
  </div>
  <div class="textarea">
    <h2>Demangled symbol<lucide-icon [class.disabled]="!formatStyle" name="settings"
        (click)="openDialog()"></lucide-icon>
    </h2>
    <textarea wrap="off" [value]="demangledName.join('\n')" readonly></textarea>
  </div>
</div>