name: Node.js Release

on: [workflow_dispatch]

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "true"
      - name: install pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "angular/package.json"
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
          cache-dependency-path: angular/pnpm-lock.yaml
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          max-size: "1000M"
          key: ${{ github.job }}-Release
      - name: Install dependencies
        run: |
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc
          sudo apt-add-repository -y 'deb https://apt.llvm.org/jammy/ llvm-toolchain-jammy-21 main'
          sudo apt-get remove --purge -y '*clang*' '*llvm*'
          sudo apt-get install -y ninja-build clang-21 libclang-21-dev llvm-21-dev lld-21
      - name: Generate Format.h wrapper
        run: |
          cmake -S cpp/native -B build_utils -G Ninja -DCMAKE_BUILD_TYPE=Release
          cmake --build build_utils --parallel $(nproc --all)
      - name: Emscripten
        run: |
          cd cpp/third_party/emsdk
          ./emsdk install latest
          ./emsdk activate latest
          source ./emsdk_env.sh
          cd ../../..
          emcmake cmake -S cpp/webassembly -B build -G "Ninja" -DCMAKE_BUILD_TYPE="Release" -DWITH_SANITIZE_ADDRESS=OFF -DWITH_SANITIZE_UNDEFINED=OFF -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
          cd build
          pnpm install typescript
          export PATH=$PATH:$(pwd)/node_modules/.bin
          cmake --build . --parallel $(nproc --all)
          cd ..
      - name: Angular
        run: |
          cp build/web_*.js angular/src/assets/
          cp build/web_*.wasm angular/src/assets/
          cp build/web_*.d.ts angular/src/assets/
          cd angular
          pnpm install -g @angular/cli
          pnpm install
          npx playwright install --with-deps
          ng test --browsers=chromiumHeadless --watch=false
          pnpm build
          pnpm build-naming-style
          cd ..
      - name: Run tests
        run: |
          cmake -S cpp/tests/ -B build_tests_release -DWITH_SANITIZE_ADDRESS=OFF -DWITH_SANITIZE_UNDEFINED=OFF -G "Ninja" -DCMAKE_BUILD_TYPE="Release" -DCMAKE_C_COMPILER=/usr/bin/clang-21 -DCMAKE_CXX_COMPILER=/usr/bin/clang++-21 -DCMAKE_AR=/usr/bin/llvm-ar-21 -DCMAKE_AS=/usr/bin/llvm-as-21 -DCMAKE_RANLIB=/usr/bin/llvm-ranlib-21 -DCMAKE_LINKER_TYPE=LLD -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
          cmake --build build_tests_release --parallel $(nproc --all)
          cd build_tests_release
          ctest
      - name: Register website in known_hosts
        run: |
          mkdir /home/runner/.ssh
          chmod 700 /home/runner/.ssh
          echo "${{ secrets.UPLOAD_KNOW_HOST }}" >> /home/runner/.ssh/known_hosts
      - name: Upload to Release website
        run: |
          sshpass -p ${{ secrets.UPLOAD_PASSWORD }} sftp -P ${{ vars.UPLOAD_PORT }} ${{ secrets.UPLOAD_USERNAME }}@${{ secrets.UPLOAD_HOST }}:${{ secrets.UPLOAD_PATH_RELEASE }} <<EOF
            rm *
            mput angular/dist/web-demangler/browser/*
            mput angular/dist/web-demangler/browser/.*
            mkdir img
            cd img
            mput angular/dist/web-demangler/browser/img/*
          bye
          EOF
          sshpass -p ${{ secrets.UPLOAD_PASSWORD }} sftp -P ${{ vars.UPLOAD_PORT }} ${{ secrets.UPLOAD_USERNAME }}@${{ secrets.UPLOAD_HOST }}:${{ secrets.UPLOAD_PATH_NAMING_STYLE_RELEASE }} <<EOF
            rm *
            mput angular/dist/naming-style/browser/*
            mput angular/dist/naming-style/browser/.*
            mkdir img
            cd img
            mput angular/dist/naming-style/browser/img/*
          bye
          EOF
