name: Node.js Debug

on: [push, pull_request, workflow_dispatch]

jobs:
  debug:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "true"
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "angular/package.json"
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
          cache-dependency-path: angular/pnpm-lock.yaml
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          max-size: "2000M"
          key: ${{ github.job }}-Debug
      - name: Install dependencies
        run: |
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc
          sudo apt-add-repository -y 'deb https://apt.llvm.org/jammy/ llvm-toolchain-jammy-21 main'
          sudo apt-get remove --purge -y '*clang*' '*llvm*'
          sudo apt-get install -y ninja-build clang-21 libclang-21-dev llvm-21-dev lld-21
      - name: Generate Format.h wrapper
        run: |
          cmake -S cpp/native -B build_utils -G Ninja -DCMAKE_BUILD_TYPE=Debug
          cmake --build build_utils --parallel $(nproc --all)
      - name: Emscripten
        run: |
          cd cpp/third_party/emsdk
          ./emsdk install latest
          ./emsdk activate latest
          source ./emsdk_env.sh
          cd ../../..
          emcmake cmake -S cpp/webassembly -B build -G "Ninja" -DCMAKE_BUILD_TYPE="Debug" -DWITH_SANITIZE_ADDRESS=ON -DWITH_SANITIZE_UNDEFINED=ON -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
          cd build
          pnpm install typescript
          export PATH=$PATH:$(pwd)/node_modules/.bin
          cmake --build . --parallel $(nproc --all)
          cd ..
      - name: Angular
        run: |
          cp build/{*.js,*.js.symbols,*.wasm,*.wasm.debug.wasm,*.wasm.map,*.d.ts} angular/src/assets/
          cp build/ghostpdl-prefix/src/ghostpdl-build/bin/gs.js angular/src/app/apps/
          cp build/ghostpdl-prefix/src/ghostpdl-build/bin/{gs.html.symbols,gs.wasm,gs.wasm.debug.wasm,gs.wasm.map,gs.d.ts} angular/src/assets/
          cd angular
          pnpm install -g @angular/cli
          pnpm install
          npx playwright install --with-deps
          ng test --browsers=chromiumHeadless --watch=false
          pnpm build-dev
          pnpm build-naming-style-dev
          pnpm build-clang-format-dev
          pnpm build-clang-format-config-dev
          pnpm build-lighten-dev
          pnpm build-demangler-dev
          cd ..
      - name: Run tests
        run: |
          cmake -S cpp/tests/ -B build_tests_debug -DWITH_SANITIZE_ADDRESS=ON -DWITH_SANITIZE_UNDEFINED=ON -G "Ninja" -DCMAKE_BUILD_TYPE="Debug" -DCMAKE_C_COMPILER=/usr/bin/clang-21 -DCMAKE_CXX_COMPILER=/usr/bin/clang++-21 -DCMAKE_AR=/usr/bin/llvm-ar-21 -DCMAKE_AS=/usr/bin/llvm-as-21 -DCMAKE_RANLIB=/usr/bin/llvm-ranlib-21 -DCMAKE_LINKER_TYPE=LLD -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
          cmake --build build_tests_debug --parallel $(nproc --all)
          cd build_tests_debug
          ctest
      - name: Register website in known_hosts
        run: |
          mkdir /home/runner/.ssh
          chmod 700 /home/runner/.ssh
          echo "${{ secrets.UPLOAD_KNOW_HOST }}" >> /home/runner/.ssh/known_hosts
      - name: Upload to Debug website
        run: |
          sshpass -p ${{ secrets.UPLOAD_PASSWORD }} sftp -P ${{ vars.UPLOAD_PORT }} ${{ secrets.UPLOAD_USERNAME }}@${{ secrets.UPLOAD_HOST }}:${{ secrets.UPLOAD_PATH_DEBUG }} <<EOF
            rm *
            mput angular/dist/web-demangler-dev/browser/*
            mput angular/dist/web-demangler-dev/browser/.*
            mkdir img
            cd img
            mput angular/dist/web-demangler-dev/browser/img/*
          bye
          EOF
          sshpass -p ${{ secrets.UPLOAD_PASSWORD }} sftp -P ${{ vars.UPLOAD_PORT }} ${{ secrets.UPLOAD_USERNAME }}@${{ secrets.UPLOAD_HOST }}:${{ secrets.UPLOAD_PATH_NAMING_STYLE_DEBUG }} <<EOF
            rm *
            mput angular/dist/naming-style-dev/browser/*
            mput angular/dist/naming-style-dev/browser/.*
            mkdir img
            cd img
            mput angular/dist/naming-style-dev/browser/img/*
          bye
          EOF
          sshpass -p ${{ secrets.UPLOAD_PASSWORD }} sftp -P ${{ vars.UPLOAD_PORT }} ${{ secrets.UPLOAD_USERNAME }}@${{ secrets.UPLOAD_HOST }}:${{ secrets.UPLOAD_PATH_CLANG_FORMAT_DEBUG }} <<EOF
            rm *
            mput angular/dist/clang-format-dev/browser/*
            mput angular/dist/clang-format-dev/browser/.*
            mkdir img
            cd img
            mput angular/dist/clang-format-dev/browser/img/*
          bye
          EOF
          sshpass -p ${{ secrets.UPLOAD_PASSWORD }} sftp -P ${{ vars.UPLOAD_PORT }} ${{ secrets.UPLOAD_USERNAME }}@${{ secrets.UPLOAD_HOST }}:${{ secrets.UPLOAD_PATH_CLANG_FORMAT_CONFIG_DEBUG }} <<EOF
            rm *
            mput angular/dist/clang-format-config-dev/browser/*
            mput angular/dist/clang-format-config-dev/browser/.*
            mkdir img
            cd img
            mput angular/dist/clang-format-config-dev/browser/img/*
          bye
          EOF
          sshpass -p ${{ secrets.UPLOAD_PASSWORD }} sftp -P ${{ vars.UPLOAD_PORT }} ${{ secrets.UPLOAD_USERNAME }}@${{ secrets.UPLOAD_HOST }}:${{ secrets.UPLOAD_PATH_LIGHTEN_DEBUG }} <<EOF
            rm *
            mput angular/dist/lighten-dev/browser/*
            mput angular/dist/lighten-dev/browser/.*
            mkdir img
            cd img
            mput angular/dist/lighten-dev/browser/img/*
          bye
          EOF
          sshpass -p ${{ secrets.UPLOAD_PASSWORD }} sftp -P ${{ vars.UPLOAD_PORT }} ${{ secrets.UPLOAD_USERNAME }}@${{ secrets.UPLOAD_HOST }}:${{ secrets.UPLOAD_PATH_DEMANGLER_DEBUG }} <<EOF
            rm *
            mput angular/dist/demangler-dev/browser/*
            mput angular/dist/demangler-dev/browser/.*
            mkdir img
            cd img
            mput angular/dist/demangler-dev/browser/img/*
          bye
          EOF
